---
layout: default
---

{% include facebook-javascript-sdk.html %}

{% include navbar.html %}

<div class="container contact-us">
    <h1 class="text-center">Contact Us</h1>
    <div class="col-md-4 left">
        <p><strong>President: </strong>Adarsh Singh <br>
            <strong>Phone: </strong>+91 7076316399 <br>
            <strong>Email: </strong>singhadarsh31@gmail.com</p>
        <p><strong>Convenor: </strong>Sneh Smriti <br>
            <strong>Phone: </strong>+91 7063698947<br>
            <strong>Email: </strong>snehsmriti1994@gmail.com</p>
    </div>
    <div class="col-md-4 center">
        <p>You can contact us on any of the following mediums:</p>
        <a class="gitter" href="https://gitter.im/lugnitdgp"><img src="{{ site.baseurl }}/images/gitter.png"><strong>Gitter</strong></a>
    </div>
    <div class="col-md-4 right">
        <h4>Like our facebook page to get all the updates: </h4>
        <h2>GNU/Linux Users' Group</h2>
        <div class="fb-like" data-href="https://www.facebook.com/nitdgplug/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
</div>

{% include footer.html %}
