---
layout: default
---

{% include navbar.html %}

<div class="container linit">
    <h2 class="text-center">Download your copies of linit from here</h2>
    <div class="row">
        {% for linit in site.linit %}
        <div class="col-md-4 thumbnail-container">
    		<a href="{{ linit.link }}">
    			<img src="{{ site.baseurl }}{{ linit.thumbnail }}" alt="Linit {{ linit.title }}" class="img-responsive">
                <div class="overlay">
                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"><br></span>
                    <span class="overlay-text">{{ linit.title }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% include footer.html %}
