<div class="footer">
    <div class="container">
        <div class="share-icons">
            <center>
                <a href="https://www.facebook.com/nitdgplug" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/lugnitdgp" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCYZPnN5vP5B1sINLLkI1aDA" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="mailto:contact@nitdgplug.org" target="_blank"><i class="fa fa-envelope"></i></a>
            </center>
        </div>
        <div>
            © {{ 'now' | date: "%Y" }} GNU/Linux Users' Group
        </div>
    </div>    
</div>
