<nav class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img id="nav-logo" alt="GLUG Logo" src="{{ site.baseurl }}/images/logo.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hidden-sm hidden-xs navbar-brand brand" href="{{ site.baseurl }}/">GNU Linux Users' Group</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/"> Home </a></li>
                <li><a href="{{ site.baseurl }}/events"> Events </a></li>
                <li><a href="{{ site.baseurl }}/members"> Members </a></li>
                <li><a href="{{ site.baseurl }}/how-to-join"> Join Us </a></li>
                <li><a href="{{ site.baseurl }}/our-activities"> Our Activities </a></li>
                <li><a href="{{ site.baseurl }}/blog"> Blog </a></li>
                <li><a href="{{ site.baseurl }}/contact-us"> Contact Us </a></li>
            </ul>
        </div>
    </div>
</nav>
