#about-us .row div {
    padding: 10px 3%;
    height: 80%;
}

#about-us .row h2 {
    margin-bottom: 20px;
}

#about-us .row h2 i {
    padding-right: 10px;
    color: #ba2301;
}

#about-us .links .col-md-4 {
    padding-top: 0;
    padding-bottom: 0;
}

#about-us .row .col-md-4 a {
    font-size: 1.15em;
    color: #e12b00;
    padding-bottom: 2px;
    border-bottom: 3px solid #ba2301;
    transition: all 0.1s;
}

#about-us .row .col-md-4 a:hover {
    text-decoration: none;
    color: #ba2301;
    border-bottom: none;
}

@media only screen and (max-width: 992px) {

    #about-us .row .col-md-4 {
        margin-bottom: 30px;
    }
}
