.about-us {
    margin-top: 30px;
}

.about-us > .row > div {
    padding: 10px 3%;
    height: 80%;
}

.about-us > .row > h2 {
}

.about-us div p {
    text-align: justify;
    margin-bottom: 20px;
}

.about-us div i {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #f70d0d;
}

.row-eq-height > div > btn {
}

.blockquote {
    text-align: center;
    margin-top: 60px;
}

.contact {
    margin: 30px 75px;
}

.contact h1 {
    text-align: center;
    line-height: 75px;
}

.contact div {
    height: 250px;
    text-align: justify;
    padding: 25px 30px;
}
