.blog {
    margin-top: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

.blog p {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog ol li {
    font-size: 18px;
    margin-bottom: 10px;
}

.blog .blog-separator {
    height: 40px;
}

.blog .blog-excerpt p {
    font-size: 1.2em;
    padding-left: 1%;
    padding-right: 4%;
}

.blog .blog-readmore {
    font-size: 1.2em;
    text-align: right;
    width: 100%;
}
