.events > .row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.events > .row > div > div {
    padding: 15px 20px;
    margin-right: -5px;
    margin-left: -5px;
}

.events > .row > div > div > img {
    width: 100%;
}

.events > .row > div > div > h5 {
    color: #333;
    margin-top: 25px;
    margin-bottom: 10px;
}

.events > .row > div > div > p {
    margin-top: 15px;
}

.events > .row > div > div > p > a {
    margin-bottom: 0;
    padding: 0;
}

.events > .row > div > div > p > a:hover {
    text-decoration: none;
    cursor: pointer;
}

.events > .row > div > div > p > span {
    display: none;
    margin-bottom: 0;
    text-align: justify;
    margin-bottom: 15px;
}

.events i.date  {
    color: #257aea;
}

.events i.time {
    color: #cc0825;
}

.events h6 {
    padding-left: 20px;
}

.events i {
    margin-top: 5px;
}
