#featured-projects .projects {
    margin-top: 50px;
}

#featured-projects .projects .col-sm-4 {
    padding-left: 0;
}

#featured-projects .projects h2 {
    /*font-size: 2.2em;*/
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

#featured-projects .projects p {
    font-size: 1.1em;
    text-align: justify;
}

#featured-projects .projects img {
    max-height: 300px;
}

#featured-projects .projects a {
    margin-top: 20px;
}

#featured-projects .projects a .fa {
    color: #222222;
    font-size: 1.3em;
    padding-right: 3%;
}

@media only screen and (max-width: 992px) {

    #featured-projects .projects p {
        font-size: 1em;
        line-height: 1.4em;
    }
}

@media only screen and (max-width: 768px) {

    #featured-projects .projects img {
        margin: 0 auto;
    }

    #featured-projects .projects {
        text-align: center;
    }

    #featured-projects .projects p {
        margin-top: 30px;
        text-align: justify;
    }
}
