.featured-projects .projects {
    margin-bottom: 30px;
}

.featured-projects .projects p {
    font-size: 1.2em;
}

.featured-projects .projects h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.featured-projects .projects img {
    max-height: 300px;
}

.featured-projects .projects a .fa-github {
    color: #222222;
    font-size: 1.8em;
    margin-top: 20px;
}
