<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{% if page.title %} {{ page.title }} {% else %} GNU Linux Users' Group {% endif %}</title>

	<!-- Import Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


	<!-- Import CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

</head>

<body>
    {% if page.layout == "home" %}
        {% include facebook-javascript-sdk.html %}
    {% endif %}
    <div class="container-fluid">
        {{ content }}
    </div>
    {% if page.layout == "blog" %}
        <script id="dsq-count-scr" src="//lugnitdgp.disqus.com/count.js" async></script>
    {% endif %}
</body>

<!-- Import JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

</html>
